*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

html, body{
    background-color: black;
    scroll-behavior: smooth;
}

.contenedor{
    color: white;
    width: 100%;
    height: 100%;
    display: table;
}

.header h1{
    font-weight: normal;
    text-align-last: center;
    font-size: 64px;
    margin-top: 83px;
}

.header h1 a{
    text-decoration: none;
    color: white;
}

.header{
    display: table;
    width: 100%;
    height: 250px;
    background-color: black;
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset 11px -15px 20px 11px black;
}

.nav{
    display: table;
    width: 100%;
}

.nav-list{
    list-style: none;
    text-align: center;
    margin-top: -58px;
}

.nav-item{
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    color: white;
}

.link-item{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: white;
}

.nav-item > a::after {
    content: "";
    display: block;
    margin: auto;
    height: 3px;
    width: 0;
    top: 5px;
    background: transparent;
    transition: all 0.3s;
    
}
  
.nav-item > a:hover::after, li > a.active-nav::after {
    width: 80%;
    height: 10%;
    background: white;
}

.section-1{
    display: flex;
    margin-left: 6%;
    margin-right: 6%;
}


#description-1 p{
    padding: 13px;
    text-align: justify;
    margin-left: 51px;
    margin-top: 160px;
    font-size: 19px;
    width: 68%;
}


#description-1 h1{ 
    margin-left: 41px;
    margin-bottom: 12px;
    font-size: 96px;
    font-family: monospace;
}

#description-1 hr{ 
    width: 87%;
    background: white;
    margin-top: 13px;
}


.astronauta{
    width: 35%;
}

.bg{
    width: 100%;
}

.section-2{
    display: flex;
    background-color: black;
    background-image: url(../img/mars.png);
    background-size: 97% 127%;
    background-repeat: no-repeat;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: inset 11px -15px 20px 11px black;
}

#description-2 p{
    padding: 13px;
    text-align: justify;
    margin-left: 51px;
    margin-top: 160px;
    font-size: 19px;
    width: 68%;
}


#description-2 h1{ 
    margin-left: 59px;
    margin-bottom: 15px;
    font-size: 67px;
    font-family: monospace;
}

#description-2 hr{ 
    width: 41%;
    background: white;
    margin-top: 13px;
}

#caract{
    width: 100%;
    margin-top: 92px;
    margin-right: 44px;
}

#caract li{
    padding: 13px;
    text-align: justify;
    background-color: rgb(21 22 23);
    border-radius: 14px;
    margin-left: -8px;
    margin-right: 52px;
    margin-top: 14px;
    list-style: none;
}

#caract li:hover{
    opacity: 50%;
    color: gray;
}

.section-3{
    display: flex;
    background-color: black;
    background-image: url(../img/earth.png);
    background-size: 97% 127%;
    background-repeat: no-repeat;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: inset 11px -15px 20px 11px black;
}

.section-4{
    display: flex;
    background-color: black;
    background-image: url(../img/moon.png);
    background-size: 97% 127%;
    background-repeat: no-repeat;
    margin-left: 6%;
    margin-right: 6%;
    box-shadow: inset 11px -15px 20px 11px black;
}

.section-contact{
    display: flex;
    margin-left: 10%;
    margin-top: 23px;
    margin-right: 6%;
}

#contactos{
    width: 29%;
    background: rgb(19 19 19 / 67%);
    padding: 50px;
    border-radius: 30px;
    position: relative;
}


.titulo h1{
    color: white;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form, .form-items{
    width: 100%;
}

.form_items .input{
    width: 100%;
    margin-bottom: 18px;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    color: black;
    border-radius: 30px;
}

.form_items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}

.btn{
    background-color: #5a5a5a;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover{
    opacity: 70%;
    color: gray;
}


.form_items{
    position: relative;
}

.form_items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
}

#mapa{
    width: 55%;
    margin-left: 6%;
    margin-top: 16px;
    border-radius: 17px;
}


.footer{
    width: 100%;
    height: 36px;
    text-align: center;
    padding-top: 2%;
    margin-right: 1px;
}

.arriba{
    width: 82px;
    height: 80px;
    background-color: rgb(21 22 23);
    color: white;
    text-align: center;
    line-height: 96px;
    border-radius: 100%;
    bottom: 30px;
    right: 10px;
    position: fixed;
    z-index: 10;
    background-image: url(../img/arriba.png);
    background-size: 100% 100%;
}

.up{
    text-decoration: none;
    color: white;
    font-size: 31px;
}

.instagram{
    width: 82px;
    height: 80px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 90px;
    border-radius: 100%;
    bottom: 179px;;
    left: 29px;
    position: fixed;
    z-index: 10;
    background-image: url(../img/instagram.png);
    background-size: 100% 100%;
}

.twitter{
    width: 82px;
    height: 80px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 91px;
    border-radius: 100%;
    bottom: 108px;
    left: 29px;
    position: fixed;
    z-index: 10;
    background-image: url(../img/twitter.png);
    background-size: 100% 100%;
}

.youtube{
    width: 82px;
    height: 80px;
    background-color: gray;
    color: white;
    text-align: center;
    line-height: 88px;
    border-radius: 100%;
    bottom: 30px;
    left: 29px;
    position: fixed;
    z-index: 10;
    background-image: url(../img/youtube.png);
    background-size: 100% 100%;
}